.section {
  width: 960px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin-bottom: 70px;
}
h1 {
  font-size: 30px;
  color: var(--primary);
  font-weight: 700;
}
.more-btn a {
  color: var(--primary);
  margin-top: 30px;
  border-bottom: var(--primary) dotted 2px;
  transition: ease 0.3s;
  font-size: 16px;
}
.more-btn a:hover {
  letter-spacing: 5px;
}

.main {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .logo img {
  width: 200px;
}
.main .down-btn {
  text-decoration: none;
  color: var(--word);
  font-size: 30px;
  transform: scaleY(120%);
  margin-bottom: 50px;
  animation: arrow 1.5s infinite ease;
}

@keyframes arrow {
  0% {
    transform: translateY(-40px);
    color: transparent;
  }
  50% {
    color: var(--word);
  }
  100% {
    transform: translateY(0px);
    color: transparent;
  }
}

.project .project-pic {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project .project-pic a {
  margin-bottom: 30px;
}
.project .project-pic img {
  width: 300px;
  filter: grayscale(80%);
  transition: ease 0.5s;
}
.project .project-pic img:hover {
  filter: grayscale(0%);
  scale: 1.1;
}

.para {
  color: var(--word);
  font-size: 16px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .section {
    width: 600px;
  }
  .main .logo img {
    width: 150px;
  }
  h1 {
    font-size: 25px;
  }
  .project {
    margin-bottom: 100px;
  }
  .project .project-pic {
    width: 600px;
  }
  .project .project-pic img {
    width: 280px;
  }
}

@media screen and (max-width: 720px) {
  .section {
    width: 80%;
  }
  .title {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 20px;
  }
  .more-btn a {
    font-size: 14px;
  }
  .main .logo img {
    width: 100px;
  }
  .project {
    height: fit-content;
    padding-top: 80px;
  }
  .project .project-pic {
    width: 100%;
  }
  .project .project-pic img {
    width: 100%;
  }
  .about .para {
    font-size: 14px;
  }
}
