.title {
  width: 960px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
}

h1 {
  color: var(--word);
  font-size: 20px;
  font-weight: 700;
}
.title .star {
  line-height: 28px;
}

.list {
  width: 960px;
  margin: auto;
  margin-bottom: 100px;
}

.list a {
  border-bottom: var(--word) solid 1px;
}

.list .project {
  width: 960px;
  display: flex;
  transition: ease 0.3s;
  padding: 30px 0px;
}

.list .project .proj-pic {
  width: 300px;
}

.list .project img {
  width: 100%;
  filter: grayscale(100%);
  transition: ease 0.3s;
}

.list .project:hover img {
  filter: grayscale(0%);
}

.list .project .proj-info {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list .project .proj-info .proj-name {
  color: var(--word);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
}

.list .project .proj-info .proj-detail {
  display: flex;
  color: var(--info);
  font-size: 14px;
  font-weight: 400;
}

.list .project .proj-info .proj-detail .det-content {
  margin-left: 12px;
}

@media screen and (max-width: 1024px) {
  .title {
    width: 600px;
  }
  h1 {
    font-size: 20px;
  }
  .list {
    width: 600px;
  }
  .list .project {
    width: 600px;
  }
  .list .project .proj-pic {
    width: 250px;
  }
  .list .project .proj-info .proj-name {
    font-size: 16px;
  }
  .list .project .proj-info .proj-name .ch {
    margin-bottom: 0px;
  }
  .list .project .proj-info .proj-detail {
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .title {
    width: 80%;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 18px;
  }
  .list {
    width: 80%;
  }
  .list a {
    width: 100%;
  }
  .list .project {
    width: 100%;
    display: block;
  }
  .list .project .proj-pic {
    width: 100%;
  }
  .list .project img {
    width: 100%;
  }
  .list .project .proj-info {
    width: 100%;
    height: fit-content;
    margin-left: 0px;
    margin-top: 20px;
  }
}
