html {
  scroll-behavior: smooth;
}
:root {
  --primary: #ffe38f;
  --info: #777777;
  --word: #f0f0f0;
  --bgc: #181818;
}
body {
  opacity: 0;
  background-color: var(--bgc);
  transition: opacity 1.5s ease-in-out;
}

.en {
  font-family: "Ysabeau Office", sans-serif;
  letter-spacing: 1px;
  line-height: 28px;
}
.ch {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 3px;
  line-height: 28px;
}
a {
  text-decoration: none;
  display: inline-block;
}

.header {
  width: 960px;
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
}
.header .home a,
.header .nav a {
  font-weight: 700;
  font-size: 20px;
}
.header .home-btn {
  color: var(--word);
  transition: ease 0.3s;
}
.header .home-btn:hover {
  letter-spacing: 5px;
}
.header .nav-btn {
  color: var(--word);
  margin-left: 20px;
  transition: ease 0.3s;
}
.header .nav-btn:hover {
  letter-spacing: 5px;
}
.header .active {
  color: var(--primary);
}
.header .ham-nav {
  display: none;
}

.footer {
  width: 960px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.footer .to-top a {
  text-decoration: none;
  color: var(--primary);
  font-size: 14px;
  border-bottom: var(--primary) dotted 2px;
  transition: ease 0.3s;
}
.footer .to-top a:hover {
  letter-spacing: 5px;
}

.footer .copyright {
  color: var(--word);
  font-size: 12px;
}
#ham-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 600px;
  }
  .footer {
    width: 600px;
  }
  #ham-menu {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .header {
    width: 80%;
  }

  .footer {
    width: 80%;
  }
  .header .nav-btn {
    display: none;
  }

  .header .ham-nav {
    width: 25px;
    display: block;
    position: relative;
    z-index: 1000;
  }

  .header .ham-nav .line {
    height: 2px;
    margin-bottom: 6px;
    background-color: var(--word);
  }

  .ham-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(24, 24, 24, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ham-menu a {
    text-decoration: none;
    color: var(--word);
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 20px 0px;
  }

  #ham-menu {
    opacity: 0;
    display: none;
  }
  #ham-menu.show {
    opacity: 1;
    display: block;
  }
}
