.top {
  width: 960px;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.top .proj-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
h1 {
  color: var(--word);
  font-size: 18px;
  font-weight: 700;
}
.top .proj-name .name .ch {
  margin-bottom: 10px;
}
.top .pre-next {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.top .pre-next span {
  color: var(--primary);
  margin: 0px 10px;
}
.top .pre-next a {
  color: var(--primary);
  border-bottom: var(--primary) solid 1px;
  transition: ease 0.3s;
}
.top .pre-next a:hover {
  border-bottom: transparent solid 1px;
}
.top .pre-next .trans {
  display: none;
}
.top .proj-name .detail,
.top .proj-name .tool {
  margin-top: 30px;
}
.top .detail {
  display: flex;
  color: var(--info);
  font-size: 14px;
  font-weight: 400;
}
.top .detail .det-content {
  margin-left: 14px;
}
.top .detail .det-content a {
  color: var(--primary);
  transition: ease 0.3s;
}
.top .detail .det-content a:hover {
  /* letter-spacing: 3px; */
  color: var(--info);
}
.top .proj-name .tool span {
  display: inline-block;
  padding: 0px 10px 0px 12px;
  border-radius: 20px;
  background-color: var(--alpha-word-light);
  font-size: 12px;
  color: var(--info);
}

.section {
  width: 960px;
  margin: auto;
  margin-bottom: 50px;
}
.section .intro {
  width: 630px;
  margin-top: 50px;
  color: var(--word);
  font-size: 14px;
}
.section .pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section .pics img {
  width: 460px;
  margin-top: 50px;
}
.mob-pre,
.mob-next {
  display: none;
}

@media screen and (max-width: 1024px) {
  .top {
    width: 600px;
  }
  .mob-pre,
  .mob-next {
    display: none;
  }

  .section {
    width: 600px;
  }
  .section .intro {
    width: 600px;
  }
  video {
    width: 600px;
  }
  .section .pics img {
    width: 600px;
  }
}

@media screen and (max-width: 720px) {
  .top {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 80px;
  }
  h1 {
    font-size: 16px;
  }
  .top .proj-name {
    width: 100%;
  }
  .top .detail {
    height: fit-content;
    align-items: flex-start;
    margin-top: 20px;
  }
  .top .proj-name .tool span {
    margin-bottom: 5px;
  }
  .top .pre-next {
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
  }
  .top .pre-next span {
    color: transparent;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .section {
    width: 80%;
  }
  .section .intro {
    width: 100%;
  }
  video {
    width: 100%;
  }
  .section .pics img {
    width: 100%;
  }
  .top .proj-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .top .proj-name .name {
    width: 100%;
  }
  .top .pre-next {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
